#root {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.example {
    max-width: 650px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin: 10px auto;
    .flex {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .form-group {
        min-width: 33%;
        max-width: 50%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        color: #222;
        margin-bottom: 15px;
        padding: 10px;
        label {
            font-weight: 600;
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            input {
                margin-left: 10px;
                width: auto;
            }
        }
        input,
        select {
            width: 100%;
            padding: 5px 10px;
            margin: 5px 0;
            border: 1px solid #aaa;
            border-radius: 5px;
        }
        input {
            width: 90%;
        }
    }
    button {
        border: none;
        padding: 10px;
        background-color: #4c535a;
        border: 0;
        color: #fff;
        border-radius: 5px;
    }
}
